body {
  font-family: 'Segoe UI', sans-serif;
}
.jumbotron {
  background-image: url('https://cdn.pixabay.com/photo/2020/02/16/10/29/living-room-4852180_960_720.jpg');
  background-size: cover;
  color: white;
}
